<footer class="footer">
    <div class="container">
        <div class="footer-top-container">
            <div class="footer-company-mission">
                <img src="images/zesty-recipes-logo.svg" alt="Zesty Recipes Logo Coloured" class="footer-company-mission__logo">
                <span class="footer-company-mission__info">Zesty Recipes is the community for you, to discover new
                    and exciting recipes.</span>
            </div>
            <div class="footer-links-container">
                <div class="footer-links-list">
                    <span class="footer-links-list__heading">For you</span>
                    <a href="#!" class="footer-links-list__item">All recipes</a>
                    <a href="#!" class="footer-links-list__item">Our favourites</a>
                    <a href="#!" class="footer-links-list__item">Zesty blog</a>
                    <a href="#!" class="footer-links-list__item">Our roadmap</a>
                    <a href="#!" class="footer-links-list__item">Monthly newsletter</a>
                </div>
                <div class="footer-links-list">
                    <span class="footer-links-list__heading">Recipe collections</span>
                    <a href="#!" class="footer-links-list__item">Latest recipes</a>
                    <a href="#!" class="footer-links-list__item">Quick and easy</a>
                    <a href="#!" class="footer-links-list__item">Breakfast and brunch</a>
                    <a href="#!" class="footer-links-list__item">Dinner parties</a>
                    <a href="#!" class="footer-links-list__item">Baking recipes</a>
                </div>
                <div class="footer-links-list">
                    <span class="footer-links-list__heading">Company</span>
                    <a href="#!" class="footer-links-list__item">About</a>
                    <a href="#!" class="footer-links-list__item">Careers</a>
                    <a href="#!" class="footer-links-list__item">Support</a>
                    <a href="#!" class="footer-links-list__item">Media kit</a>
                    <a href="#!" class="footer-links-list__item">Terms of service</a>
                    <a href="#!" class="footer-links-list__item">Privacy policy</a>
                </div>
            </div>
            <div class="footer-ad-container">
                <span>Advertisement here</span>
            </div>
        </div>
        <div class="footer-bottom-container">
            <span>© 2020 Zesty Recipes. All rights reserved.</span>
            <span>Made with ❤️ by Aitch Media</span>
            <span>3,000,000 recipes have been liked</span>
        </div>
    </div>
</footer>
<script src="https://cdnjs.cloudflare.com/ajax/libs/color-thief/2.3.0/color-thief.umd.js"></script>
<script src="/js/index.js"></script>
</body>

</html>