<footer class="footer">
    <div class="container">
        <div class="footer-top-container">
            <div class="footer-company-mission">
                <a href="/"><img src="/images/zesty-recipes-logo.svg" alt="Zesty Recipes Logo Coloured" class="footer-company-mission__logo"></a>
                <span class="footer-company-mission__info">Zesty Recipes is the community for you, to discover new
                    and exciting recipes.</span>
            </div>
            <div class="footer-links-container">
                <div class="footer-links-list">
                    <span class="footer-links-list__heading">For you</span>
                    <a href="/recipes" class="footer-links-list__item">All recipes</a>
                    <a href="/our-favourites" class="footer-links-list__item">Our favourites</a>
                    <a href="/blog" class="footer-links-list__item">Zesty blog</a>
                    <a href="/roadmap" class="footer-links-list__item">Our roadmap</a>
                </div>
                <div class="footer-links-list">
                    <span class="footer-links-list__heading">Company</span>
                    <a href="/about" class="footer-links-list__item">About</a>
                    <a href="/careers" class="footer-links-list__item">Careers</a>
                    <a href="/contact" class="footer-links-list__item">Support</a>
                    <a href="/terms" class="footer-links-list__item">Terms of service</a>
                    <a href="/privacy" class="footer-links-list__item">Privacy policy</a>
                </div>
                <div class="footer-links-list">
                    <!-- <span class="footer-links-list__heading">Trending collections</span>
                    <a href="#!" class="footer-links-list__item">Latest recipes</a>
                    <a href="#!" class="footer-links-list__item">Budget busters</a>
                    <a href="#!" class="footer-links-list__item">Winter warmers</a>
                    <a href="#!" class="footer-links-list__item">Fresh & tasty</a>
                    <a href="#!" class="footer-links-list__item">BBQ galore</a> -->
                </div>
            </div>
            <div class="footer-ad-container">
                <span>Advertisement here</span>
            </div>
        </div>
        <div class="footer-bottom-container">
            <span>© 2020 Zesty Recipes. All rights reserved.</span>
            <span>Made with ❤️ by Aitch Media</span>
            <span>3,000,000 recipes have been liked</span>
        </div>
    </div>
</footer>
<script src="/js/bundle.js"></script>
</body>

</html>