.about-hero {
    // height: 80vh;

    &__content {
        grid-column: col-start 1 / col-end 4;
        display: flex;
        flex-direction: column;
        justify-content: center;
        height: 80vh;
        max-height: 70rem;

        @media only screen and (max-width: $breakpoint-md) {
            grid-column: col-start 1 / col-end 8;
            padding: 3rem 0;
            text-align: center;
            align-items: center;
            height: 100%;
        } 

        &--heading {
            font-weight: 700;
        }

        &--subheading {
            max-width: 40rem;
            margin-bottom: 2rem;
        }

        & .button {
            font-size: 1.6rem;
            align-self: flex-start;

            @media only screen and (max-width: $breakpoint-md) {
                align-self: center;
            } 
        }
    }

    &__images {
        grid-column: col-start 5 / col-end 8;
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 5rem 0;
        height: auto;

        & img {
            width: 100%;
            // max-width: 50rem;
            object-fit: contain;
            height: auto;
        }
       

        @media only screen and (max-width: $breakpoint-md) {
            grid-column: col-start 1 / col-end 8;
            padding: 0;
            margin: 0;
        } 
    }
}

.about-content {
    margin: 5rem 0;
    grid-column: col-start 2 / col-end 7;

    @media only screen and (max-width: $breakpoint-md) {
        grid-column: col-start 1 / col-end 8;
    }

    &--heading {
        font-weight: 700;
        margin-bottom: 3rem;
        text-align: center;

        @media only screen and (max-width: $breakpoint-md) {
            font-size: 2.8rem;
            text-align: center;
        }
    }

    &--paragraph {
        font-size: 1.8rem;
        margin-bottom: 2rem;
        padding: 0 2rem;

        @media only screen and (max-width: $breakpoint-md) {
            padding: 0 0.5rem;
            font-size: 1.6rem;
        }
    }
}