*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}

html {
    scroll-behavior: smooth;
    box-sizing: border-box;
    font-size: 62.5%;
}

body {
    font-family: var(--font-body);
    color: var(--color-dark);
    font-weight: 400;
    line-height: 1.6;
    font-size: 1.6rem;
    min-width: 320px;
    overflow-x: hidden;    
    display: flex;
    flex-direction: column;
    min-height: 100vh; 
    
    @media only screen and (max-width: $breakpoint-md) {
        min-height: auto;
    }    

    &.scroll .nav-wrapper {
        position: fixed;        
    }
}

h1, h2, h3, h4, h5 {
    margin: 2.75rem 0 1.05rem;
    font-weight: 400;
    line-height: 1.15;
  }

.main-wrapper {
    margin-top: 6rem;
    flex: 1 0 auto;
}

.grid-container {
    display: grid;
    grid-template-columns: [full-start] minmax(6rem, 1fr) [center-start] repeat(8, [col-start] minmax(min-content, 16rem) [col-end]) [center-end] minmax(6rem, 1fr) [full-end];

    @media only screen and (max-width: $breakpoint-lg) {
        grid-template-columns: [full-start] minmax(2rem, 1fr) [center-start] repeat(8, [col-start] minmax(min-content, 16rem) [col-end]) [center-end] minmax(2rem, 1fr) [full-end];
    }
}

.page-container {    
    display: grid;
    grid-template-rows: 90vh min-content;
    grid-template-columns: [full-start] minmax(6rem, 1fr) [center-start] repeat(8, [col-start] minmax(min-content, 14rem) [col-end]) [center-end] minmax(6rem, 1fr) [full-end];

    @media only screen and (max-width: $breakpoint-lg) {
        grid-template-rows: 90vh min-content;
        grid-template-columns: [full-start] minmax(3rem, 1fr) [center-start] repeat(8, [col-start] minmax(min-content, 14rem) [col-end]) [center-end] minmax(3rem, 1fr) [full-end];
    }
}

.content-grid {
    display: grid;
    grid-template-columns: [center-start] repeat(8, [col-start] minmax(min-content, 16rem) [col-end]) [center-end];

    @media only screen and (max-width: $breakpoint-lg) {
        grid-template-columns: [center-start] repeat(8, [col-start] minmax(min-content, 16rem) [col-end]) [center-end];
    }
}

.container {
    margin: 0px auto;
    max-width: 100%;
    min-width: 32rem;
    width: 128rem;

    @media only screen and (max-width: $breakpoint-xl) {
        padding: 0 2rem;
    }
}

::selection {
    color: var(--color-light);
    background: var(--color-primary);
}

.generic-half {
    &__left {
        grid-column: col-start 1 / col-end 4;

        @media only screen and (max-width: $breakpoint-md) {
            grid-column: col-start 1 / col-end 8;
        }
    }

    &__right {
        grid-column: col-start 5 / col-end 8;

        @media only screen and (max-width: $breakpoint-md) {
            grid-column: col-start 1 / col-end 8;
        }
    }
}

.content-heading {
    font-weight: 700;
    margin-bottom: 1rem;

    &:target::before {
        content: "";
        display: block;
        height: 8rem; 
        margin: -8rem 0 0;
    }
}

.content-paragraph {
    font-size: 1.6rem;
    margin-bottom: 2rem;
}

.content-link {
    color: var(--color-primary);
    text-decoration: none;    
}

.tc-content {
    grid-column: col-start 1 / col-end 8;
    margin: 5rem 0;
}

.alert {
    position: fixed;
    top: 0;
    left: 50%;
    -webkit-transform: translateX(-50%);
    transform: translateX(-50%);
    z-index: 9999;
    color: #fff;
    font-size: 1.8rem;
    font-weight: 400;
    text-align: center;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    padding: 1.6rem 15rem;
    -webkit-box-shadow: 0 2rem 4rem rgba(0, 0, 0, 0.25);
    box-shadow: 0 2rem 4rem rgba(0, 0, 0, 0.25);
 }
 .alert--success {
    background-color: #20bf6b;
 }
 .alert--error {
    background-color: #eb4d4b;
 }