<%- include('includes/_header') %>
<main class="main-wrapper">
    <div class="grid-container">
        <div class="recipe-no-results">
            <img src="/images/no-results.jpg" alt="Fried egg illustration">
            <p>Oops, the egg is frying!</p>
            <p>404 page cannot be found</p>
        </div>
    </div>
</main>
<%- include('includes/_footer') %>