<%- include('includes/_header') %>
<main class="main-wrapper">
    <div class="grid-container">
        <div class="about-hero__content">
            <h1 class="about-hero__content--heading">Recipes for everyone</h1>
            <p class="about-hero__content--subheading">We're on a mission to build the world's best resource for recipes to share and create</p>
            <a class="button" href="/recipes">Start browsing</a>
        </div>
        <div class="about-hero__images">
            wefwefwef
        </div>
    </div>
</main>
<%- include('includes/_footer') %>