<%- include('includes/_header') %>
<main class="main-wrapper">
    <div class="grid-container about-hero">
        <div class="about-hero__content">
            <h1 class="about-hero__content--heading">Recipes for everyone</h1>
            <p class="about-hero__content--subheading">We're on a mission to build the world's best resource for recipes to share and create</p>
            <a class="button" href="/recipes">Start browsing</a>
        </div>
        <div class="about-hero__images">
            <img src="/images/about-hero-image.jpg" alt="">
        </div>
        <div class="about-content">
            <h1 class="about-content--heading">Our story so far</h1>
            <p class="about-content--paragraph">It all started as a side project for Hayden from Aitch Media during the COVID crisis, with the idea of creating an online community around cooking at home. As we all know, we tend to run out of ideas on what to cook in the kitchen. So Zesty is here to save the day!</p>

            <p class="about-content--paragraph">Zesty was born from the pain we had in finding a great recipe website with easy-to-use user experience, that looked great from whichever device you wish to use. So you were able to like, favourite and share recipes to your collection.</p>

            <p class="about-content--paragraph">We envision Zesty Recipes to be the place you can find recipes created by the community, which we hand-select every recipe and accept only the best. So that no matter what your taste buds are after, you'll find exactly what you're looking for on Zesty Recipes.</p>

            <p class="about-content--paragraph">We look forward to cooking with you!</p>
            </p>
        </div>
    </div>
</main>
<%- include('includes/_footer') %>