<%- include('includes/_header') %>
<main class="main-wrapper">
    <div class="grid-container">
        <div class="careers-content">
            <h1 class="careers-content--heading">Join the Zesty team.</h1>
            <p class="careers-content--paragraph">Help us shape the future of our cooking community.</p>
            <p class="careers-content--paragraph mb">If you want to work with us, all we want to see is a message from you. Please don’t send a resume. Instead, tell us who you are. Show us relevant things you’ve done that you’re excited about.</p>
            <p class="careers-content--paragraph muted">We do not have any current job openings.</p>
            <hr>
            <p class="careers-content--paragraph muted">We are an equal opportunity employer and value diversity at our company. Women, people of color, members of the LGBTQ community, individuals with disabilities, and veterans are strongly encouraged to apply.</p>
            </p>
        </div>
    </div>
</main>
<%- include('includes/_footer') %>