<%- include('includes/_header') %>
<main class="main-wrapper">
    <div class="grid-container">
        <div class="contact-content">
            <h1 class="careers-content--heading">Got any questions, comments or conerns?</h1>
            <p class="careers-content--paragraph centered subheading">We do not have any current job openings.</p>
            <hr>
            <p class="careers-content--paragraph muted">We are an equal opportunity employer and value diversity at our company. Women, people of color, members of the LGBTQ community, individuals with disabilities, and veterans are strongly encouraged to apply.</p>
            </p>
        </div>
    </div>
</main>
<%- include('includes/_footer') %>