<%- include('includes/_header') %>
<main class="main-wrapper">
    <div class="grid-container">
        <header class="guides-hero-banner">
            <div class="container">
                <h1 class="guides-hero-banner__title">Food guides</h1>
                <h2 class="guides-hero-banner__subtitle">Learn about the differences of your favourite ingredients and how to use them in tasty recipes.</h2>
            </div>
        </header>

        <div class="guide-section">
            <div class="guide-section__image">
                <img src="/images/guide-bread.jpg" alt="">
            </div>
            <div class="guide-section__content">
                <h3>Bread guide</h3>
                <p>Get the lowdown on loaves, plus delicious sweet and savoury recipe ideas, here.</p>
                <a class="button" href="/guides">View guide</a>
            </div>
        </div>

        <div class="guide-section">
            <div class="guide-section__content">
                <h3>Flour guide</h3>
                <p>Discover which type of flour to reach for next — and which makes the best substitute — with our handy tips and tricks below.</p>
                <a class="button" href="/guides">View guide</a>
            </div>
            <div class="guide-section__image">
                <img src="/images/guide-flour.jpg" alt="">
            </div>
        </div>

        <div class="guide-section">
            <div class="guide-section__image">
                <img src="/images/guide-oat.jpg" alt="">
            </div>
            <div class="guide-section__content">
                <h3>Oat guide</h3>
                <p>Discover the differences between the types of oats, clever cooking tips and delicious recipes to try at home.</p>
                <a class="button" href="/guides">View guide</a>
            </div>
        </div>

        <div class="guide-section">
            <div class="guide-section__content">
                <h3>Baking guide</h3>
                <p>Become a better baker with this baking guide, which covers key ingredients, must-have utensils and top tips.</p>
                <a class="button" href="/guides">View guide</a>
            </div>
            <div class="guide-section__image">
                <img src="/images/guide-baking.jpg" alt="">
            </div>
        </div>

        <div class="guide-section">
            <div class="guide-section__image">
                <img src="/images/guide-pasta.jpg" alt="">
            </div>
            <div class="guide-section__content">
                <h3>Pasta guide</h3>
                <p>Learn about the different types of pasta and how to cook them in this guide.</p>
                <a class="button" href="/guides">View guide</a>
            </div>
        </div>

        <div class="guide-section">
            <div class="guide-section__content">
                <h3>Milk guide</h3>
                <p>Learn about the different types of milk and how to use them in some tasty recipes.</p>
                <a class="button" href="/guides">View guide</a>
            </div>
            <div class="guide-section__image">
                <img src="/images/guide-milk.jpg" alt="">
            </div>
        </div>

        <div class="guide-section">
            <div class="guide-section__image">
                <img src="/images/guide-rice.jpg" alt="">
            </div>
            <div class="guide-section__content">
                <h3>Rice guide</h3>
                <p>Find out how to use different types of rice in everything from risotto to rice pudding, plus cooking tips, in this guide.</p>
                <a class="button" href="/guides">View guide</a>
            </div>
        </div>

    </div>
</main>
<%- include('includes/_footer') %>