<%- include('includes/_header') %>
<main class="main-wrapper">
    <div class="grid-container">
        <header class="hero-home__main">
            <h1 class="hero-home__main--heading">Make yourself at home with Zesty Recipes</h1>
            <h3 class="hero-home__main--subheading">Discover new and exciting family favourites</h3>
            <a class="button" href="/signup">Sign up</a>
        </header>
        <div class="hero-home__aside">
            <div class="hero-home__aside-list">
                <div class="hero-home__aside-list--item">
                    <div>
                        <span>Winter Warmers</span>
                        <a href="#!">View recipes</a>
                    </div>
                    <img src="/images/recipe/roasted-meatballs-recipe.jpg" alt="">
                </div>
                <div class="hero-home__aside-list--item">
                    <div>
                        <span>Delicious Desserts</span>
                        <a href="#!">View recipes</a>
                    </div>
                    <img src="/images/recipe/decadent-choc-layer-cake.png" alt="">
                </div>
                <div class="hero-home__aside-list--item">
                    <div>
                        <span>Winter Warmers</span>
                        <a href="#!">View recipes</a>
                    </div>
                    <img src="/images/recipe/roasted-meatballs-recipe.jpg" alt="">
                </div>
            </div>
        </div>

    </div>
</main>
<%- include('includes/_footer') %>