<%- include('includes/_header-auth') %>

<body>
    <div class="grid-container">
        <div class="auth-banner"></div>
        <div class="auth-form-container">
            <nav class="auth-form-nav">
                <p>Not a member? <a href="/signup">Sign up now</a></p>
            </nav>
            <main>
                <div class="auth-form-content">
                    <a href="/"><img src="/images/zesty-logo-icon.svg" alt=""></a>
                    <h2 class="auth-form__heading">Log into Zesty Recipes</h2>
                    <form class="auth-form auth-form-login" autocomplete="off">
                        <div class="auth-form__group">
                            <label class="auth-form__label" for="email">Email address</label>
                            <input class="auth-form__input" id="email" type="email" placeholder="you@example.com" required="required" tabindex="1">
                        </div>
                        <div class="auth-form__group">
                            <label class="auth-form__label" for="password">Password <a href="/password/new" tabindex="4">Forgot password?</a></label>
                            <input class="auth-form__input" id="password" type="password" placeholder="••••••••" required="required" minlength="8" tabindex="2">
                        </div>
                        <div class="auth-form__group">
                            <button class="button" tabindex="3">
                                <span>Log in</span>
                            </button>
                        </div>
                    </form>
                </div>
            </main>
        </div>
    </div>
    <script src="/js/bundle.js"></script>
</body>

</html>