<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1, user-scalable=no">
    <link rel="apple-touch-icon" sizes="180x180" href="/images/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/images/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/images/favicon-16x16.png">

    <title><%= typeof(title) == "undefined" ? 'Zesty Recipes' : `Zesty Recipes | ${title}` %></title>

    <link href="https://fonts.googleapis.com/css2?family=Inter:wght@400;500;700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/css/style.css">
</head>

<body>
    <div class="grid-container">
        <div class="auth-banner"></div>
        <div class="auth-form-container">
            <nav class="auth-form-nav">
                <p>Already a member? <a href="/login">Log in</a></p>
            </nav>
            <main>
                <div class="auth-form-content">
                    <a href="/"><img src="/images/zesty-logo-icon.svg" alt=""></a>
                    <h2 class="auth-form__heading">Sign up to Zesty Recipes</h2>
                    <form class="auth-form" autocomplete="off">
                        <div class="auth-form__grouped">
                            <div class="auth-form__group">
                                <label class="auth-form__label" for="name">Name</label>
                                <input class="auth-form__input" id="name" type="text" placeholder="" required="required">
                            </div>
                            <div class="auth-form__group">
                                <label class="auth-form__label" for="username">Username</label>
                                <input class="auth-form__input" id="username" type="text" placeholder="" required="required">
                            </div>
                        </div>
                        <div class="auth-form__group">
                            <label class="auth-form__label" for="email">Email address</label>
                            <input class="auth-form__input" id="email" type="email" placeholder="" required="required">
                        </div>
                        <div class="auth-form__group">
                            <label class="auth-form__label" for="password">Password</label>
                            <input class="auth-form__input" id="password" type="password" placeholder="8+ characters" required="required" minlength="8">
                        </div>
                        <div class="auth-form__group">
                            <button class="button">
                                <span>Create account</span>
                            </button>
                        </div>
                    </form>
                </div>
            </main>
        </div>
    </div>
    <script src="/js/index.js"></script>
</body>

</html>